


h2{
    color:rgb(168, 221, 247);
    text-align: center;
    text-shadow: 15px;
    margin:20px;
    font-size:30px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

p{

    color:rgb(244, 243, 241);
    padding-left: 100px;
    padding-right:100px;
}


    



.mail{
    
   
   
    color: rgb(197, 190, 190);
    font-size:15px;
    padding-top:30px;
    padding-right:60%;
    padding-bottom:30px;
    padding-left:5%;

}